In [58]:
import csv
import requests
import pandas as pd
from datetime import datetime, timedelta

In [59]:
base_url = r'https://www.data.jma.go.jp/cpd/monitor/dailyview/all_download_d.php'

In [60]:
generate_parameters = lambda d: f'?&y={d.year}&m={d.month}&d={d.day}'

In [61]:
start_date = datetime(2021, 1, 1)

In [62]:
base_url + generate_parameters(start_date)

'https://www.data.jma.go.jp/cpd/monitor/dailyview/all_download_d.php?&y=2021&m=1&d=1'

In [118]:
for i in range(3):
    x = requests.get(base_url + generate_parameters(start_date))

    
    start_date = start_date + timedelta(days=1)
    break

In [119]:
csv_raw = csv.reader(x.text.splitlines())
csv_list = list(csv_raw)
columns = [r0 + r1 for r0, r1 in zip(csv_list[0], csv_list[1])]

In [120]:
with open(f'../data/{start_date.strftime("%Y-%m-%d")}.csv', 'w') as f:
    writer = csv.writer(f, quotechar='"')
    writer.writerow(columns)
    writer.writerows(csv_list[2:])

In [121]:
df = pd.read_csv(f'../data/{start_date.strftime("%Y-%m-%d")}.csv')

In [122]:
df

,地点番号,地点名,国名,緯度,経度,日平均気温(℃),日最高気温(℃),日最低気温(℃),日降水量(mm)
0,1001,ヤンマイエン島,ノルウェー,70.92,-8.67,-0.8,1.5,-6.6,3.9
1,1002,VERLEGENHUKEN,ノルウェー,80.05,16.25,1.0,2.2,0.4,
2,1003,HORNSUND,ノルウェー,77.00,15.50,0.5,1.4,-0.8,2.0
3,1006,エドゲ島,ノルウェー,78.25,22.82,-1.4,-0.4,-2.6,
4,1007,ニューオーレースン,ノルウェー,78.92,11.92,1.3,3.0,0.5,5.4
...,...,...,...,...,...,...,...,...,...
8162,98752,ブトゥアン,フィリピン,8.93,125.47,26.3,29.6,24.0,4.6
8163,98753,ダバオ,フィリピン,7.12,125.65,26.7,31.3,24.4,57.0
8164,98755,HINATUAN,フィリピン,8.35,126.33,26.2,29.2,23.7,40.0
8165,98836,サンボアンガ,フィリピン,6.92,122.05,27.8,33.0,24.4,0.0
8166,98851,ヘネラルサントス,フィリピン,6.05,125.10,26.5,31.7,22.5,1.0

In [96]:
len(s)

476512