In [2]:
import pandas as pd
from glob import glob

In [6]:
path_list = glob('../data/*csv')

In [7]:
p = path_list[-1]

In [9]:
df = pd.read_csv(p)

In [10]:
df

,地点番号,地点名,国名,緯度,経度,日平均気温(℃),日最高気温(℃),日最低気温(℃),日降水量(mm)
0,1001,ヤンマイエン島,ノルウェー,70.92,-8.67,-1.7,-0.3,-4.9,0.0
1,1002,VERLEGENHUKEN,ノルウェー,80.05,16.25,-3.5,-2.3,-6.2,
2,1003,HORNSUND,ノルウェー,77.00,15.50,-2.8,-2.5,-5.0,0.1
3,1006,エドゲ島,ノルウェー,78.25,22.82,-2.6,-1.9,-5.7,
4,1007,ニューオーレースン,ノルウェー,78.92,11.92,-4.6,-3.4,-7.5,16.0
...,...,...,...,...,...,...,...,...,...
8302,98752,ブトゥアン,フィリピン,8.93,125.47,26.7,32.0,23.5,0.6
8303,98753,ダバオ,フィリピン,7.12,125.65,27.1,31.2,24.8,2.0
8304,98755,HINATUAN,フィリピン,8.35,126.33,26.8,29.9,24.0,15.0
8305,98836,サンボアンガ,フィリピン,6.92,122.05,28.0,33.0,24.0,0.0
8306,98851,ヘネラルサントス,フィリピン,6.05,125.10,27.1,31.4,22.0,8.0